allure-pytest==2.13.5
allure-python-commons==2.13.5
annotated-types==0.7.0
attrs==23.2.0
certifi==2024.2.2
charset-normalizer==3.3.2
execnet==2.1.1
idna==3.7
iniconfig==2.0.0
packaging==24.0
pluggy==1.5.0
pydantic==2.7.1
pydantic-core==2.18.2
pytest==8.2.1
pytest-asyncio==0.23.7
pytest-xdist==3.6.1
python-dotenv==1.0.1
requests==2.32.1
ruff==0.4.4
typing-extensions==4.11.0
urllib3==2.2.1
websockets==12.0
